<div class="body">
    <form (ngSubmit)="login()" action="">
    <div class="login-container">
        <div class="login-card">
            <div class="login-title">
                <span class="login-text">Inicia sesion</span>
            </div>
            <div class="login-form">
                <p><strong>Ingresa tus Credenciales</strong></p>
                <div class="input-group">
                    <input [(ngModel)]="usuario" required="" placeholder="Usuario" class="login-input" type="text" />
                </div>
                <div class="input-group">
                    <input [(ngModel)]="password" required="" placeholder="Contraseña" class="login-input" type="password" />
                </div>
                <button class="login-btn" type="submit">Ingresar</button>
            </div>
        </div>
    </div>
    </form>
</div>